<mat-card class="detail">
    <p style="margin-bottom: 15px; font-size: 18px;">Details:</p>
    <mat-card-content>
      <p>Machine id: {{vendingMachine.machineId}}</p>
      <p>
        Address:
      <app-inline-edit-component [(ngModel)]=vendingMachine.address type="text"></app-inline-edit-component>
      </p>
      <p style="margin-top: 14px">
        Machine content:
        <button class="button-nomrg" mat-button (click)="onAddClicked()">Add</button> 
      </p>
      <cdk-virtual-scroll-viewport itemSize="15px" style="min-height: 290px; box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);">
        <mat-list>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="productId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product id </th>
                <td mat-cell *matCellDef="let content"> {{content.product.productId}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product name </th>
                <td mat-cell *matCellDef="let content"> 
                  <mat-select [placeholder]=content.product.name (selectionChange)="onProductChange(content, $event.value)">
                    <mat-option *ngFor="let product of productsList" [value]="product.name">
                      {{product.name}}
                    </mat-option>
                  </mat-select>
                </td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                  <td mat-cell *matCellDef="let content"> <app-inline-edit-component [(ngModel)]=content.quantity type="number"></app-inline-edit-component> </td>
              </ng-container>
              <ng-container matColumnDef="update">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 15px;">                Update </th>
                  <td mat-cell *matCellDef="let content"> 
                    <button class="button-nomrgn" mat-button (click)="onRowSaveClicked(content)">Save</button> 
                    <button class="button-nomrgn" mat-button (click)="onRowRemoveClicked(content)">Remove</button> 
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr class="tablecontent" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
          </div>
        </mat-list>
      </cdk-virtual-scroll-viewport>
      <button class="button" mat-button (click)="onSaveClicked()">Save</button>
    </mat-card-content>
  </mat-card>