<mat-toolbar class="mat-elevation-z5" color="primary">
    <img class="header-logo" src="../assets/logo.png" alt="Logo">
    <span class="header-name">VMSys</span>
    <button class="header-button" mat-button>Machines</button>
    <button class="header-button" mat-button>Warehouses</button>
    <button class="header-button" mat-button>Order list</button>
    <button class="header-button" mat-button>Supply schedule</button>
    <span class="fill-remaining-space"></span>
    <span class="header-version">v.1.0</span>
</mat-toolbar>

<div style="height:calc(100vh - 120px); position:relative">
  <mat-grid-list cols="2" rowHeight="fit" style="height:calc(100vh - 120px)">
    <mat-grid-tile class="title-tem" [colspan]="2" [rowspan]="1" style="height: 224px; align-items: start;">
      <app-vending-machine-list (addPin)="addPinToMap($event)" style="width:100vw;"></app-vending-machine-list>
    </mat-grid-tile>
    <mat-grid-tile class="title-tem" [colspan]="1" [rowspan]="2">
      <mat-card style="min-height:auto">
        <mat-card-content>
          <div id="map"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <app-vending-machine-details></app-vending-machine-details>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<footer class="page-footer font-small blue fixed-bottom" style="background:#c2185b">
  <div class="footer-copyright text-center py-3" style="color: #fff">© 2019 Copyright: Michał Kalandyk</div>  
</footer>


