<mat-card class="detail">
    <mat-card-header>Details:</mat-card-header>
    <mat-card-content>
      <p>Machine id: {{vendingMachine.machineId}}</p>
      <p>Address: {{vendingMachine.address}}</p>
      <p>Machine content: </p>
      <mat-list>
        <mat-list-item *ngFor="let content of vendingMachine.machineContent">
          <p style="font-size: 14px">{{content.product.name}}  quantity:   {{content.quantity}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>