<mat-toolbar class="mat-elevation-z5" color="primary">
  <mat-toolbar-row class="mat-elevation-z5" color="primary">
    <img class="header-logo" src="../assets/logo.png" alt="Logo">
    <span class="header-name">VMSys</span>
    <button class="header-button" mat-button (click)="about()">About</button>
    <span class="fill-remaining-space"></span>
    <span class="header-version">v.1.0</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="login-card">
  <h1 style="font-size: 30px; margin-bottom: 30px">VMSys</h1>
  <img src="../assets/logo.png" alt="Logo">
  <h2 style="font-size: 18px; margin-top: 30px">Login</h2>
  <mat-card-content>
    <form class="login-form">
      <table cellspacing="0" width=100%>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
