<app-toolbar></app-toolbar>

<button class="admin-panel-button" mat-button (click)="menuPick('machines')">Machines</button>
<button class="admin-panel-button" mat-button (click)="menuPick('warehouses')">Warehouses</button>
<button class="admin-panel-button" mat-button (click)="menuPick('order-list')">Order list</button>
<button class="admin-panel-button" mat-button (click)="menuPick('supply-schedule')">Supply schedule</button>

<footer class="page-footer font-small blue fixed-bottom" style="background:#c2185b">
  <div class="footer-copyright text-center py-3" style="color: #fff">© 2019 Copyright: Michał Kalandyk</div>  
</footer>


