.button {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.header-button {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.vm-list-element:hover {
    background: #555555;
    cursor: pointer;
}