.detail {
    min-height: calc(100vh / 2 + 100px); 
    height: calc(100vh / 2 + 100px);
    width: calc(100vw / 2 - 50px);
}

.button {
    margin-left: 20px;
    margin-top: 20px;
}

.button-nomrgn {
    margin-left: 20px;
    margin-top: 0px;
}

table.mat-table {
    border-spacing: 0;
    width: 100%;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}

::ng-deep .mat-cell {
    text-align: center;
}