<mat-toolbar class="mat-elevation-z5" color="primary">
  <img class="header-logo" src="../assets/logo.png" alt="Logo">
  <span class="header-name">VMSys</span>
  <button class="header-button" mat-button (click)="menuPick('machines')">Machines</button>
  <button class="header-button" mat-button (click)="menuPick('warehouses')">Warehouse</button>
  <button class="header-button" mat-button (click)="menuPick('order-list')">Order list</button>
  <button class="header-button" mat-button (click)="menuPick('supply-schedule')">Supply schedule</button>
  <button class="header-button" mat-button (click)="menuPick('account')">Account</button>
  <button class="header-button" mat-button (click)="menuPick('login')">Log out</button>
  <span class="fill-remaining-space"></span>
  <span class="header-version">v.1.0</span>
</mat-toolbar>